@page
@model Product_View_v_2.Views.Home.NewProductModel

<h1>Добавление нового продукта</h1>
<form method="get" action="/Home/Add">
    <h5>Информация</h5>
    <p>Категория:</p>
    <input type="text" name="product.category"/>
    <p>Продавец:</p>
    <input type="text" name="product.salesman"/>
    <p>Продукт:</p>
    <input type="text" name="product.product"/>
    <p>Mодель:</p>
    <input type="text" name="product.model"/>
    <p>Описание:</p>
    <input type="text" name="product.description"/>
    <p>Цена:</p>
    <input type="number" step="any" name="product.price"/>
    <p>Изображение:</p>
    <input type="text" name="product.img"/>
    <input type="submit" value="Отправить"/>
</form>